# Data Processing and Analysis
pandas==2.1.4
numpy==1.24.4
pyarrow==11.0.0
pyspark==3.5.3
polars==1.17.1

# Data Visualization
matplotlib==3.9.4
seaborn==0.13.2
plotly==5.24.1

# Database Connections
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
cx-Oracle==8.3.0

# Data Generation
Faker==33.1.0

# Development Environment
jupyter==1.1.1
ipykernel==6.15.0
notebook==6.5.3
jupyterlab==3.6.3

# Excel Support
openpyxl==3.1.5

# Date and Time
python-dateutil==2.8.2
pytz==2024.2

# Data Validation and Quality
pydantic==2.10.3
networkx==2.8.4

# Data Quality Tools
great-expectations==0.17.15
ydata-profiling==4.6.3

# Documentation
mkdocs>=1.5.0
mkdocs-material==9.1.21

# Additional Dependencies
accessible-pygments==0.0.5
aiofiles==22.1.0
aiosqlite==0.18.0
alabaster==0.7.16
altair==4.2.2
annotated-types==0.7.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astor==0.8.1
asttokens==2.0.5
attrs==21.4.0
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cryptography==44.0.0
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
docutils==0.20.1
entrypoints==0.4
et_xmlfile==2.0.0
executing==0.8.3
fastjsonschema==2.15.3
fonttools==4.34.4
fqdn==1.5.1
gitdb==4.0.9
GitPython==3.1.31
greenlet==3.1.1
htmlmin==0.1.12
idna==3.3
imagesize==1.4.1
importlib-metadata==6.1.0
importlib-resources==5.8.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-book==1.0.3
jupyter-cache==1.0.1
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.22.0
jupyterlab_widgets==3.0.13
kiwisolver==1.4.3
koalas==1.8.2
latexcodec==3.0.0
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.23.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==2.0.5
monotonic==1.6
multimethod==1.8
myst-nb==1.1.2
myst-parser==2.0.0
nbclassic==0.5.4
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
nest-asyncio==1.5.5
packaging==24.2
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==3.2.0
posthog==2.5.0
prometheus-client==0.14.1
prompt_toolkit==3.0.48
protobuf==3.20.3
psutil==5.9.1
pure-eval==0.2.2
py4j==0.10.9.7
pybtex==0.24.0
pybtex-docutils==1.0.3
pycparser==2.21
pydantic_core==2.27.1
pydata-sphinx-theme==0.16.0
pydeck==0.8.1b0
Pygments==2.18.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-json-logger==2.0.7
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywin32==304
pywinpty==2.0.5
PyYAML==6.0
pyzmq==25.0.2
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.4
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
scipy==1.8.1
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==7.4.7
sphinx-book-theme==1.1.3
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==1.0.0
sphinx-multitoc-numbering==0.1.3
sphinx-panels==0.4.1
sphinx-thebe==0.3.1
sphinx-togglebutton==0.3.2
sphinx_design==0.6.1
sphinx_external_toc==1.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-bibtex==2.6.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.3.0
streamlit==1.21.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==9.0.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tornado==6.2
tqdm==4.64.0
traitlets==5.9.0
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==4.2
uc-micro-py==1.0.3
uri-template==1.2.0
urllib3==1.26.9
validators==0.20.0
watchdog==2.1.9
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
widgetsnbextension==4.0.13
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.8.0
